/*Author: Luis Camacho Jr.
  Full Sail University
  Course: MIU
  Term: 1302
  Project 4 Gold and Bronze: Feature, Search & Browse
  Implementation of jQuery Mobile and Aesthetic*/

label.error {
    display: block;
    float: left;
    color: red;
    padding-top: .5em;
    vertical-align: text-bottom;

}
#clientManagerErrors{
    display: none;
}