/*Author: Luis Camacho Jr.
  Full Sail University
  Course: MIU
  Term: 1302
  Project 4 Gold and Bronze: Feature, Search & Browse
  Implementation of jQuery Mobile and Aesthetic*/

label.error {
            display: block;
            float: left;
            color: red;
            padding-top: .5em;
            vertical-align: text-bottom;

}
#pageOne {
    text-align: center;
    background: url("../../bronze/css/images/project4Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#pageOne img {
   width: 40%;
    max-width: 200px;
}
#pageOne .ui-listview {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 240px;

}
#pageOne .ui-input-search {
    width: 55%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 240px;
}
#clientManagerErrors{
display: none;
}
#fNamePage {
    text-align: center;
    background: url("../../bronze/css/images/project4Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#fNamePage img {
    width: 40%;
    max-width: 200px;
}
#fNamePage .ui-listview {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 240px;

}
#fNamePage .backBtn {
    float: left;
}
#clientData {
    text-align: center;
    background: url("../../bronze/css/images/project4Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#infoPage {
    text-align: center;
    background: url("../../bronze/css/images/project4Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#infoPage img {
    width: 40%;
    max-width: 200px;
}
#infoPage .ui-collapsible {
    width: 85%;
    margin: 0 auto;
}
#newsStreamPage {
    text-align: center;
    background: url("../../bronze/css/images/project4Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#newsStreamPage img {
    max-width: 200px;
}
#newsStreamPage .logo {
    width: 40%;
}
#newsStreamPage .ui-listview {
    width: 90%;
    margin: 0 auto;
}
#addItem {
    text-align: center;
    background: url("../../bronze/css/images/project4Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



